<div class="row ap-waterbg">
	<div>
		<img src="imgs/moh.png" alt="logo" />
	</div>
</div>
<div class="container-fluid ap-landing">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-xs-center">

			<img src="imgs/logo.png" />

			<h1 class="ap-brand">CBAHI</h1>

			<small class="text-muted ap-ft-2x">Saudi Central Board for Accreditation of Healthcare Institutions</small>

			<div class="clearfix m-b-2"></div>

			<form role="search" class="form-horizontal ap-search-form ap-2x">
				<div class="input-group ap-search">
					<input type="text" class="form-control form-control-lg ap-input" id="search-facilities" ng-model="ln.search"
						placeholder="Search Standards" />

					<div class="input-group-btn">
						<button class="btn btn-primary ap-btn" type="submit" ng-click="search()">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>