<div class="row">
	<div class="col-md-12">
		<h4>Info</h4>
		<hr class="clearfix m-b-1" />
		<fieldset class="row form-group">
			<label for="name" class="form-control-label col-sm-2">Name</label>
			<div class="col-sm-10">
				<p id="name" type="text" ng-bind="ur.name"  class="form-control-static"></p>
			</div>
		</fieldset>
		<fieldset class="row form-group">
			<label for="name" class="form-control-label col-sm-2">Email</label>
			<div class="col-sm-10">
				<p id="name" type="text" ng-bind="ur.email"  class="form-control-static"></p>
			</div>
		</fieldset>
		<fieldset class="row form-group">
			<label for="name" class="form-control-label col-sm-2">Phone No.</label>
			<div class="col-sm-10">
				<p id="name" type="text" ng-bind="ur.phoneNo"  class="form-control-static"></p>
			</div>
		</fieldset>
	</div>
</div>